    <header>
      <h1>Stratify Lab</h1>

      <nav>
        <input type="checkbox" id="menu-toggle" class="menu-checkbox" />
        <label for="menu-toggle" class="menu-burger">
          <span></span>
          <span></span>
          <span></span>
        </label>

        <ul class="meniu">
          <li class="item-acasa">
            <a href="#">
              <i class="fa-solid fa-house"></i>
              <span class="text-ascuns">Acasa</span>
            </a>
            <ul class="submeniu">
              <li><a href="#welcome">Bine ati venit</a></li>
              <li><a href="#produse">Produse</a></li>
              <li><a href="#evenimente">Evenimente</a></li>
              <li><a href="#tabel">Top produse</a></li>
              <li><a href="#intrebari">FAQ</a></li>
            </ul>
          </li>

          <li>
            <a href="#"
              ><i class="fa-solid fa-cube"></i> <span>Produse</span></a
            >
          </li>

          <li>
            <a href="#"
              ><i class="fa-solid fa-print"></i>
              <span>Servicii imprimare 3D</span></a
            >
            <ul class="submeniu">
              <li><a href="printare_fdm.html">Printare FDM (Plastic)</a></li>
              <li><a href="printare_sla.html">Printare SLA (Rășină)</a></li>
              <li><a href="modelare_cad.html">Modelare 3D CAD</a></li>
            </ul>
          </li>

          <li>
            <a href="/despre"
              ><i class="fa-solid fa-users"></i> <span>Despre noi</span></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-envelope"></i>
              <span>Contact / Comandă</span></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-cart-shopping"></i>
              <span>Cos cumparaturi</span></a
            >
          </li>
        </ul>
      </nav>
    </header>